* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Nunito',sans-serif;
}

.hidden {
  display: none;
}

body {
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Nunito',sans-serif;
}

.main {
  margin: 2.4rem auto;
  border-radius: 6px;
  width: 90%;
  max-width: 1400px;
  min-height: 100vh;
  -webkit-box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.3);
}

.main .head {
  background-color: #ffffff;
  height: 300px;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

.main .head .as {
  height: 100px;
  background: #ffffff;
  position: relative;
}

.main .head .as img {
  width: 300px;
  top: -1rem;
  left: 4%;
  position: absolute;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #c7e5fd;
}

.main .head .ad {
  height: 6rem;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55vh;
  border: 2px solid #80bde0;
  float: right;
  background: #fff;
  margin-right: 7rem;
}

.main .head .af {
  height: 140px;
  background: #d8d8d8;
  padding: 55px;
  font-size: 1.8rem;
}

.main .head .af p {
  float: right;
  margin-right: 7rem;
}

.main .head .ag {
  height: 60px;
  background: #ffffff;
}

.main-title {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #f7f7f7;
  padding-top: 3rem;
}

.main-content {
  display: none;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.main-content .left-section {
  grid-column: span 2;
  background: #7f929b;
  color: #ccc;
}

.main-content .left-section .left-content {
  padding: 1rem 2rem;
}

.main-content .left-section .left-content .profile {
  width: 100%;
  letter-spacing: 1px;
  border-bottom: 1px solid #7c8994;
}

.main-content .left-section .left-content .profile img {
  width: 100%;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #c7e5fd;
}

.main-content .left-section .left-content .profile .name {
  font-size: 2rem;
  color: #fff;
  padding: 1.2rem 0;
}

.main-content .left-section .left-content .profile .career {
  color: #94d9e4;
  padding-bottom: 1rem;
}

.main-content .left-section .left-content .contact-info {
  padding: 3rem 0 2rem 0;
  border-bottom: 1px solid #7c8994;
}

.main-content .left-section .left-content .contact-info a {
  text-decoration: none;
  color: inherit;
}

.main-content .left-section .left-content .contact-info ul li {
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .left-section .left-content .contact-info ul li i {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #154968;
}

.main-content .left-section .left-content .skills-section {
  padding: 3rem 0 2rem 0;
  border-bottom: 1px solid #7c8994;
}

.main-content .left-section .left-content .skills-section ul {
  text-transform: uppercase;
}

.main-content .left-section .left-content .skills-section ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.main-content .left-section .left-content .skills-section ul li .skills-title {
  color: f7f7f7;
  font-size: 1rem;
  padding-top: 1.1rem;
}

.main-content .left-section .left-content .skills-section ul li .progress-bar {
  width: 100%;
  height: 16px;
  top: 18px;
  background-color: #607183;
  position: relative;
  border-radius: 4px;
}

.main-content .left-section .left-content .skills-section ul li .progress-bar .progress {
  height: 14px;
  margin: 1px;
  left: 0;
  background: #2d9cdb;
  position: relative;
  border-radius: 4px;
}

.main-content .left-section .left-content .skills-section ul li .progress-bar .js-progress {
  width: 70%;
}

.main-content .left-section .left-content .skills-section ul li .progress-bar .react-progress {
  width: 80%;
}

.main-content .left-section .left-content .skills-section ul li .progress-bar .html-progress {
  width: 90%;
}

.main-content .left-section .left-content .skills-section ul li .progress-bar .gt-progress {
  width: 70%;
}

.main-content .left-section .left-content .skills-section ul li .progress-bar .ps-progress {
  width: 80%;
}

.main-content .right-section {
  grid-column: span 5;
  background-color: #f7f7f7;
  height: 100%;
}

.main-content .right-section .pdf-download {
  width: 100%;
  height: 16  px;
}

.main-content .right-section .pdf-download .pdf-download-img {
  width: 40px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.main-content .right-section .pdf-download .pdf-download-img:hover {
  width: 45px;
}

.main-content .right-section .right-main-content {
  padding: 2rem 3rem;
}

.main-content .right-section .right-main-content .sect {
  padding: 2rem;
}

.main-content .right-section .right-main-content .right-title {
  letter-spacing: 1px;
  color: #68b3df;
  margin-bottom: 1.2rem;
  position: relative;
}

.main-content .right-section .right-main-content .right-title:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  -webkit-box-shadow: 0px 0px 2px rgba(165, 165, 165, 0.3);
          box-shadow: 0px 0px 2px rgba(165, 165, 165, 0.3);
  background-color: #dadada;
  right: 0;
  top: 50%;
}

.main-content .right-section .right-main-content .para {
  line-height: 1.6rem;
  font-size: 1.2rem;
  color: #575757;
}

.main-content .right-section .right-main-content .timeline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.main-content .right-section .right-main-content .timeline .left-tl-content {
  position: relative;
}

.main-content .right-section .right-main-content .timeline .left-tl-content .site_img {
  -webkit-transform: scale(0.5) translateX(-25%);
          transform: scale(0.5) translateX(-25%);
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: -100px;
  top: -50px;
  z-index: 2;
}

.main-content .right-section .right-main-content .timeline .left-tl-content .site_img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 3;
}

.main-content .right-section .right-main-content .timeline .tl-content {
  border-left: 1px solid #ccc;
  padding-left: 2rem;
  position: relative;
  padding-bottom: 2rem;
}

.main-content .right-section .right-main-content .timeline .tl-title-2 {
  font-size: 1rem;
  color: #727272;
}

.main-content .right-section .right-main-content .timeline .tl-title-2::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #68b3df;
  border-radius: 50%;
  -webkit-transform: translateX(-54%);
          transform: translateX(-54%);
  left: 0;
}

.main-content .right-section .right-main-content .projects .right-tl-content .tl-content {
  min-height: 170px;
}

.references-section {
  padding: 3rem 0 2rem 0;
  border-bottom: 1px solid #7c8994;
}

.references-section .sub-title {
  color: f7f7f7;
  font-size: 1rem;
  padding-top: 1.1rem;
  line-height: 1.5rem;
}

@media (max-width: 1080px) {
  .head {
    display: none;
  }
  .changeBG {
    display: none;
  }
  body .main-content {
    width: 94%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
  }
  body .main-content .right-section {
    grid-column: span 5;
    background-color: #f7f7f7;
    height: 100%;
  }
}

@media only screen and (max-width: 860px) {
  .right-section .right-main-content .sect .right-title::after {
    width: 40%;
  }
  .right-section .right-main-content .sect .timeline {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 1700px) {
  .changeBG {
    right: 10px;
  }
  .right-section .right-main-content {
    padding: 2rem 6rem;
  }
}

@media screen and (max-width: 780px) {
  .left-section {
    grid-column: span 3;
  }
  .right-section {
    grid-column: span 4;
  }
  .right-section .right-main-content .sect .timeline {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 681px) {
  body .main-content {
    width: 94%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
  }
  body .main-content .right-section {
    grid-column: span 5;
    background-color: #f7f7f7;
    height: 100%;
  }
  body .main-content .right-section .right-main-content {
    padding: 1rem;
  }
  body .main-content .right-section .right-main-content .projects .timeline .left-tl-content img {
    left: 6%;
  }
  body .main-content .right-section .right-main-content .projects .right-tl-content .tl-content .para {
    margin-top: 10rem;
  }
}

@media (min-width: 1080px) {
  .profile {
    display: none;
  }
}

.upToTop {
  background: rgba(21, 73, 104, 0.3);
  opacity: 0.6;
  width: 50px;
  height: 50px;
  right: 5%;
  bottom: 3%;
  position: fixed;
  border-radius: 12px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #2e6f94;
  cursor: pointer;
}

.upToTop:hover {
  opacity: 1;
}

.changeBG {
  opacity: 0.6;
  right: 5%;
  top: 3%;
  position: fixed;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-transform: rotate(0) scale(0.7);
          transform: rotate(0) scale(0.7);
}

.changeBG:hover {
  -webkit-transform: rotate(360deg) scale(1);
          transform: rotate(360deg) scale(1);
  opacity: 0.8;
}

.preloader {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader .loader {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid transparent;
  border-top: 5px solid rgba(109, 109, 109, 0.6);
  -webkit-animation: 1.4s spin linear infinite;
  animation: 2s spin linear infinite;
}

.preloader .loader2 {
  border: 4px solid transparent;
  border-right: 3px solid rgba(0, 130, 206, 0.7);
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -----------change background begin------------ */
.blue body {
  background: linear-gradient(62deg, #ffbd9a 7%, #f7ce68 50%, #ff9090 100%);
}
/*# sourceMappingURL=style.css.map */